<ion-header no-border>
    <ion-toolbar color="tertiary">
        <ion-title>
            Burger Queen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img src="../../../assets/img/logobq.png" alt="" srcset="">
    <ion-card-subtitle>
        <h5>Ingresar Nombre Cliente</h5>
    </ion-card-subtitle>
    <ion-item>
        <ion-input placeholder="nombre" [(ngModel)]="valor"></ion-input>
    </ion-item>
    <ion-button color="tertiary" expand="full" (click)="pushTab2()">
        Siguiente
    </ion-button>


</ion-content>